.accueil {
  background-color: #1c4654;
  height: 100vh;
}

.bouton-go button {
  background-color: transparent;
  border: none;
  width: 100%;
  box-shadow: 0 0 20px;
  border-radius: 60%;
}

.logo {
  width: 100%;
  height: 100vh;
  position: relative;
}

.imageHome {
  width: 100%;
  object-fit: contain;
  height: -webkit-fill-available;
}

.bouton-go {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #fff;
  color: #29220a;
  font-size: 36px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 40px;
  width: 30%;
  height: 10%;
}
