.blabla {
  background: #1b4756;
  height: 100%;
}

.winner-card {
  width: 250px;
  /* border: 2px solid white; */
  padding-top: 2%;

  color: #fdcb34;
}

.card-text {
  font-size: 2rem;
  color: white;
}

.card-img-top {
  border-radius: 50%;
}

.trophy-image {
  width: 250px;
  margin-bottom: 30px;
}

.btn {
  font-size: 1.5em;
}

@media screen and (min-width: 721px) and (max-width: 2000px) {
  .blabla {
    height: 100vh;
  }
}
