* {
  max-resolution: 0;
  padding: 0;
  box-sizing: border-box;
}

.backColor {
  height: 100vh;
  background-color: #1c4654;
}

.resize {
  display: flex;
  justify-content: center;
  width: 20%;
  box-shadow: 0 0 15px;
  border-radius: 50%;
}

.imageResize {
  width: 100%;
  height: auto;
  box-shadow: 0 0 100px;
  clip-path:circle(40%);
}

.labelColor {
  color: white;
}

.selectPseudo {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  background-image: none;
  border-color: white;
  border-width: thin;
  width: 80%;
}

.buttonColor {
  background: #1c4654;
  color: white;
  margin-top: 10%;
}

.font-pseudo {
  font-size: 2rem;
  color: white;
}

.black_marginPseudo {
  background-color: black;
  height: 1600px;
}

.btn-blockPseudo {
  width: auto;
  background: white;
  color: black;
  margin: 0;
}

@media screen and (min-width: 0px) and (max-width: 720px) {
  .black_marginPseudo {
    display: none;
  }
}
