
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


.answer-group{
    background-color:#1b4756;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;

}

.player-button{
    height:100px;
    width:100%;
    padding:10px;
    background-color: #FFF5F5;
}

.game-card{
    padding-top:20px;

}

.game-card h4{
    color: white;
}

.player-button p{
    color:#515151;
}

.next-round{
    font-size: 0.9rem;
}